* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

    /* Barra de navegacion */

header{
    background-color: #1C7D4F;
    height: 200px;
    width: auto;
}
.logo{
    width: 250px;
    height: 250px;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: -80px;
    }
   
.logo:hover{
    transform: scale(1.01);
}
header .navbar-nav{
    justify-content: center;
    position: relative;
    top: 80px;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-right: 10px;
    display: flex;
    list-style: none;
    
 }
 .nav-link{
    text-decoration: none;
    margin: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    
 }
 .nav-link:hover{
    color: black;
 }
button{
    
    display:flex ;
    align-items: center;
    text-decoration: none;
    list-style: none;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    background-color:white;
    position: relative;
    left: 80%;
    top: 50%;
    width: 200px;
    height: 80px;
    border: #1C7D4F;
 }
 button:hover{
    transform: scale(1.1);
 }
 button a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: flex;
    cursor: pointer;
    font-size:15px;
    font-weight: 550;
    justify-content: end;
 }
 
 div button{
    justify-content: end;
    display: flex;
 }
 /* encabezaddo */
 .fondoimagen {
   width: 100%;
   height: 600px;
   display: flex;
   position: relative;
   
   }
 .fondoimagen img  {
   width: 100%;
   height: 100%;
   
 }
 h1{
   font-size: 60px;
   display: flex;
   margin: 10px;
   padding: 10px;
   position: absolute;
   top: 50%;
   left: 10%;
   color: white;
   text-shadow: 0 0 8px rgb(0, 0, 0, 0.8) ;
 }
 .subtitulo{
   font-size: 30px;
   display: flex;
   margin: 10px;
   padding: 10px;
   position: absolute;
   top: 65%;
   left: 10%;
   color: white;
   text-shadow: 0 0 8px rgb(0, 0, 0, 0.8) ;
 }
 section{
   display: flex;
 }
 .remodelaciones{
   width: 50%;
   background: rgba(217, 217, 217, 0.5);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin: 10px;
   padding: 20px;
   height: 250px;
 }
h3{
   display: flex;
   font-weight: 400;
   font-size: 40px;
   line-height: 29px;
   margin: 10px;
   padding: 20px;
}
p{
   display: flex;
   font-weight: 500;
   font-size: 20px;
   line-height: 29px;
   margin: 10px;
   padding: 20px;
}
.redes{
   width: 50%;
   background: rgba(217, 217, 217, 0.5);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin: 10px;
   padding: 20px;
   height: 250px;
}
hr{
   border: 3px solid rgba(28, 125, 79, 0.9);
}
.img img {
   width: 50%;
   height: 650px;
   display: flex;
   margin: 5px;
   border-radius: 10px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   transition: transform 0.2s ease-out
}

 
.img {
   display: flex;
   transition: transform 0.2s ease-out
}
.img img:hover {
   transform: scale(1.01);
 }
 .quem-somos{
   font-size: 40px;
   font-weight: 600;
   line-height: 58px;
   display: flex;
   margin: 10px;
   padding: 10px;
   
 }

 .text-quem-somos{
   margin: 10px;
   padding: 10px;
   background: #1C7D4F;
   box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
   width: 90%;
   height: 350px;
   border-radius: 10px;
   display: flex; 
   
 }
 .text-quem-somos p{
   color: white;
   font-weight: 600;
   font-size: 30px;
   line-height: 40px;
 }
 .seccion{
   font-size: 40px;
   font-weight: 600;
   line-height: 58px;
   display: flex;
   margin: 10px;
   padding: 10px;
 }
 .testimonios{
   display: flex;
   justify-content: center;
 }
 .testimonios img{
   background: url(20230424_203514);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   border-radius: 25px;
   margin: 10px;
   width: 350px;
 }
 .testimonios img:hover{
   transform: scale(1.01);
 }

 .sliderfinal{
   display: flex;
   width: 100%;
   padding: 10px;
   justify-content: center;
   
 }
 .sliderfinal img{
   width: 350px;
   margin: 10px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   border-radius: 25px;
 }
 .sliderfinal :hover{
   transform: scale(1.01);
 }
 footer{
   background: #1C7D4F;
   display: flex;
   width: 100%;
 }
 .logo-footer{
   width: 300px;
   height: 300px;
   display: flex;
 }
 .texto-contacto {
   color: white;
   display: flex;
   line-height: 19px;
   font-size: 15px;
   width: 20%;
   width: auto;
   position: absolute;
   left: 75%;
 }

 .email{
   color: white;
   display: flex;
   align-items: center;
   position: relative;
   left: 43%;
   align-items: end;
   width: 0;

 }
 .iconos {
   display: flex;
   align-items: center;
   left: 58%;
   position: relative;
   width: auto;

    }

    .instagram:hover{
      transform: scale(1.1);
    }
.instagram{
   width: 70px;
   margin: 0px;
}
.whatsapp{
   margin: 5px;
}

.facebook:hover{
   transform: scale(1.1);
}
.whatsapp:hover{
   transform: scale(1.1);
}
